/* You can add global styles to this file, and also import other style files */
.bd-navbar {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 1071;
}

.primary {
    color: rgb(13, 110, 253) !important;
}

.dark {
   color: #212529
}

.muted-color {
    color: #6c757d !important;
}

.form {
    max-width: 800px !important;
}